.mapMain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mapMainCont{
    width: 75%;
    height: 60%;
    max-height: 500px;
    background-color: #3d4dac;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}
.maph1{
    font-size: 42px;
    font-weight: bold;
    color: #3d4dac;
    padding-top: 50px;
    margin: 0 0 20px calc(12.5% + 5px);
}

.mapLeft{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}
.statsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}
.maph2{
    font-size: 23px;
    color: #fff;
    font-weight: bold;
    padding: 5px 0;
    display: inline-block;
}
.mapText{
    font-size: 20px;
    color: #fff;
    padding-bottom: 10px;
    display: inline-block;
    font-weight: bold;
}